# Build Directory
build/
iso_root/

# Build Artifacts (Legacy/Root)
*.o
*.d
*.map
*.elf
*.iso
*.img
*.bin

# Logs and Errors
build_log.txt
build_error.txt

# OS Specific
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Limine
limine/
limine-deploy-linux-x86_64
limine-version

/tools/copy_unios_sources.py