# Build directories
build/
clean/
iso_root/
out/

# Build Artifacts
*.o
*.d
*.map
*.elf
*.iso
*.img
*.bin

# OS Specific
.DS_Store
Thumbs.db

# Editor/IDE
.cache/
.vscode/
.idea/
*.swp
*.swo
__pycache__/
env/
NUL.exe

# Generated runtime assets
rootfs/bin/
rootfs/usr/share/wallpapers/default.uowp